package com.lava.swexpedited.batch;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.databind.DeserializationFeature;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.datatype.jsr310.JavaTimeModule;
import com.lava.swexpedited.samsara.SamsaraDriverWithRaw;
import com.lava.swexpedited.samsara.model.Driver;
import com.lava.swexpedited.samsara.model.DriverVehicleAssignmentV2ObjectResponseBody;
import com.lava.swexpedited.samsara.model.DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody;
import com.lava.swexpedited.samsara.model.HosClocksForDriver;
import com.lava.swexpedited.samsara.model.HosClocksResponse;
import com.lava.swexpedited.samsara.model.HosLogEntry;
import com.lava.swexpedited.samsara.model.HosLogsForDriver;
import com.lava.swexpedited.samsara.model.HosLogsResponse;
import com.lava.swexpedited.samsara.model.VehicleStatsResponse;
import com.lava.swexpedited.samsara.model.VehicleStatsResponseData;
import java.io.UncheckedIOException;
import java.time.Duration;
import java.time.Instant;
import java.util.ArrayList;
import java.util.List;
import java.util.function.Supplier;
import java.util.stream.Collectors;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.retry.support.RetryTemplate;
import org.springframework.stereotype.Component;
import org.springframework.web.client.HttpServerErrorException;
import org.springframework.web.client.RestClient;

/**
 * Fetches the three Samsara fleet resources this app syncs: drivers, their current vehicle assignments, and current
 * vehicle locations. All three endpoints share the same {@code {data, pagination}} cursor-paginated envelope, so each
 * fetch method loops until {@code hasNextPage} is false.
 *
 * <p>Response bodies deserialize directly into the classes generated by {@code openapi-generator-maven-plugin} from
 * {@code schema/samsara-api.json} (a vendored, trimmed subset of Samsara's real published spec - see that file's
 * "info.description") - no hand-maintained field-by-field DTOs. The one exception is {@link #fetchDrivers()}: it still
 * reads each page as a {@link JsonNode} tree so the exact raw JSON of every driver list entry can be captured for
 * {@code samsara_driver.raw_response} (see {@link SamsaraDriverWithRaw}) alongside the typed {@link Driver}.
 *
 * <p>Uses a hand-built {@link ObjectMapper} (Jackson 2, present transitively via jackson-dataformat-csv - same
 * reasoning as {@code GfmBidClient}) rather than Spring's auto-configured Jackson 3 one, with {@link JavaTimeModule}
 * registered since the generated models type some fields (e.g. {@code Driver.dateOfBirth}) as
 * {@code java.time.LocalDate}. FAIL_ON_UNKNOWN_PROPERTIES is disabled - unlike the jsonschema2pojo-generated GFM
 * classes, openapi-generator's models have no {@code @JsonIgnoreProperties(ignoreUnknown = true)} by default, so
 * without this, Samsara adding any field our trimmed spec doesn't model would break deserialization entirely.
 */
@Component
public class SamsaraFleetClient {

    private static final int PAGE_LIMIT = 512;

    private final RestClient samsaraRestClient;
    private final ObjectMapper objectMapper = new ObjectMapper()
            .registerModule(new JavaTimeModule())
            .configure(DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES, false);
    private final Duration retryBackoff;

    public SamsaraFleetClient(
            @Qualifier("samsaraRestClient") RestClient samsaraRestClient,
            @Value("${samsara.retry-backoff:5s}") Duration retryBackoff) {
        this.samsaraRestClient = samsaraRestClient;
        this.retryBackoff = retryBackoff;
    }

    /** Active drivers only - a deactivated driver is expected to disappear from samsara_driver on the next sync. */
    public List<SamsaraDriverWithRaw> fetchDrivers() {
        List<SamsaraDriverWithRaw> drivers = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody("/fleet/drivers", cursor, "driverActivationStatus", "active");
            JsonNode page = readTree(body, "/fleet/drivers");
            for (JsonNode driverNode : page.path("data")) {
                drivers.add(new SamsaraDriverWithRaw(
                        treeToValue(driverNode, Driver.class), writeValueAsString(driverNode)));
            }
            hasNextPage = page.path("pagination").path("hasNextPage").asBoolean(false);
            cursor = page.path("pagination").path("endCursor").asText(null);
        }
        return drivers;
    }

    /**
     * Scoped to {@code driverIds} (the active roster from {@link #fetchDrivers()}) with {@code assignmentType=HOS}
     * rather than relying on {@code startTime}/{@code endTime}'s own "defaults to now" behavior. That default is a
     * zero-width instant query against raw assignment event records, which only returns a driver whose record happens
     * to still be open at that exact moment - confirmed against the live API to miss drivers who are clearly still
     * driving the same truck (per Samsara's own dashboard), including drivers whose only assignment is static (see
     * {@code Driver.staticAssignedVehicle}, used as a defense-in-depth fallback in {@code SamsaraDriverSyncTasklet}
     * regardless of this). Specifying {@code driverIds} + any {@code assignmentType} switches the endpoint into a
     * different, undocumented resolution mode that reliably returns each requested driver's current vehicle - including
     * static-only assignments, oddly labeled with whatever assignmentType was requested - regardless of
     * {@code startTime}/{@code endTime}, which are silently ignored once {@code assignmentType} is present (confirmed
     * against the live API: even a future {@code startTime} has no effect), hence this method no longer sends them at
     * all. This is undocumented Samsara behavior, not a guaranteed contract, so {@code SamsaraDriverSyncTasklet} still
     * dedupes defensively in case more than one assignment per driver ever comes back.
     *
     * <p>{@code driverIds} is sent as one comma-joined query value (matching Samsara's other array-style params) - fine
     * at this org's current driver-count scale, but a very large fleet could eventually need to chunk this call to stay
     * under practical URL length limits.
     */
    public List<DriverVehicleAssignmentV2ObjectResponseBody> fetchDriverVehicleAssignments(List<String> driverIds) {
        if (driverIds.isEmpty()) {
            return List.of();
        }
        String joinedDriverIds = driverIds.stream().collect(Collectors.joining(","));

        List<DriverVehicleAssignmentV2ObjectResponseBody> assignments = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody(
                    "/fleet/driver-vehicle-assignments",
                    cursor,
                    "filterBy",
                    "drivers",
                    "driverIds",
                    joinedDriverIds,
                    "assignmentType",
                    "HOS");
            DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody page = readValue(
                    body,
                    DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody.class,
                    "/fleet/driver-vehicle-assignments");
            assignments.addAll(page.getData());
            hasNextPage = Boolean.TRUE.equals(page.getPagination().getHasNextPage());
            cursor = page.getPagination().getEndCursor();
        }
        return assignments;
    }

    /**
     * Scoped to {@code driverIds} the same way {@link #fetchDriverVehicleAssignments(List)} is - unlike that method,
     * {@code /fleet/hos/clocks} also works with no {@code driverIds} at all (returning every driver Samsara knows
     * about, active or not), but this app only ever wants duty status for drivers currently in our synced roster.
     */
    public List<HosClocksForDriver> fetchDriverDutyStatuses(List<String> driverIds) {
        if (driverIds.isEmpty()) {
            return List.of();
        }
        String joinedDriverIds = driverIds.stream().collect(Collectors.joining(","));

        List<HosClocksForDriver> hosClocks = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody("/fleet/hos/clocks", cursor, "driverIds", joinedDriverIds);
            HosClocksResponse page = readValue(body, HosClocksResponse.class, "/fleet/hos/clocks");
            hosClocks.addAll(page.getData());
            hasNextPage = Boolean.TRUE.equals(page.getPagination().getHasNextPage());
            cursor = page.getPagination().getEndCursor();
        }
        return hosClocks;
    }

    /**
     * Uses {@code /fleet/vehicles/stats?types=gps} rather than the older {@code /fleet/vehicles/locations} endpoint,
     * which Samsara's own docs flag as superseded ("does not combine GPS data with onboard diagnostics - try our new
     * Vehicle Stats API instead"). This is still a snapshot query (same cursor pagination shape, one poll per sync
     * cycle, {@code replaceAll} semantics downstream) - deliberately not the separate {@code stats/feed} variant, which
     * is built for continuous/stateful streaming (a cursor that must persist across job runs, incremental per-vehicle
     * updates) rather than the periodic full-snapshot polling this app actually needs.
     */
    public List<VehicleStatsResponseData> fetchVehicleLocations() {
        List<VehicleStatsResponseData> locations = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody("/fleet/vehicles/stats", cursor, "types", "gps");
            VehicleStatsResponse page = readValue(body, VehicleStatsResponse.class, "/fleet/vehicles/stats");
            locations.addAll(page.getData());
            hasNextPage = Boolean.TRUE.equals(page.getPagination().getHasNextPage());
            cursor = page.getPagination().getEndCursor();
        }
        return locations;
    }

    /**
     * Single-vehicle variant of {@link #fetchVehicleLocations()}, called on-demand (not from a scheduled tasklet) by
     * {@code SamsaraDriverLiveLocationService} so the driver detail screen can poll one open driver's position faster
     * than {@code SamsaraLocationSyncScheduler}'s roster-wide ~1 min cadence, without re-fetching the whole fleet.
     * Still uses the same cursor-paginated envelope as every other endpoint, though a single {@code vehicleId} is never
     * expected to span more than one page.
     */
    public List<VehicleStatsResponseData> fetchVehicleLocation(String vehicleId) {
        List<VehicleStatsResponseData> locations = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody("/fleet/vehicles/stats", cursor, "types", "gps", "vehicleIds", vehicleId);
            VehicleStatsResponse page = readValue(body, VehicleStatsResponse.class, "/fleet/vehicles/stats");
            locations.addAll(page.getData());
            hasNextPage = Boolean.TRUE.equals(page.getPagination().getHasNextPage());
            cursor = page.getPagination().getEndCursor();
        }
        return locations;
    }

    /**
     * Fetches HOS log entries (duty-status-change history, each with a start/end time and recorded location) for one
     * driver within {@code [startTime, endTime]} - called on-demand by {@code SamsaraDriverActivityService} for the
     * driver detail screen's activity feed. Unlike drivers/assignments/locations/duty-statuses, this is inherently a
     * historical query rather than a "current state" snapshot, so there's no persisted table or scheduled sync for it;
     * every request goes straight to Samsara. {@code /fleet/hos/logs} doesn't support a {@code limit} param (unlike
     * every other endpoint this client calls), hence {@code includeLimit=false}.
     */
    public List<HosLogEntry> fetchDriverHosLogs(String driverId, Instant startTime, Instant endTime) {
        List<HosLogEntry> hosLogs = new ArrayList<>();
        String cursor = null;
        boolean hasNextPage = true;
        while (hasNextPage) {
            String body = fetchPageBody(
                    "/fleet/hos/logs",
                    cursor,
                    false,
                    "driverIds",
                    driverId,
                    "startTime",
                    startTime.toString(),
                    "endTime",
                    endTime.toString());
            HosLogsResponse page = readValue(body, HosLogsResponse.class, "/fleet/hos/logs");
            for (HosLogsForDriver hosLogsForDriver : page.getData()) {
                hosLogs.addAll(hosLogsForDriver.getHosLogs());
            }
            hasNextPage = Boolean.TRUE.equals(page.getPagination().getHasNextPage());
            cursor = page.getPagination().getEndCursor();
        }
        return hosLogs;
    }

    private String fetchPageBody(String path, String cursor, String... extraParams) {
        return fetchPageBody(path, cursor, true, extraParams);
    }

    private String fetchPageBody(String path, String cursor, boolean includeLimit, String... extraParams) {
        return retrying(() -> samsaraRestClient
                .get()
                .uri(uriBuilder -> {
                    uriBuilder.path(path);
                    if (includeLimit) {
                        uriBuilder.queryParam("limit", PAGE_LIMIT);
                    }
                    if (cursor != null) {
                        uriBuilder.queryParam("after", cursor);
                    }
                    for (int i = 0; i + 1 < extraParams.length; i += 2) {
                        uriBuilder.queryParam(extraParams[i], extraParams[i + 1]);
                    }
                    return uriBuilder.build();
                })
                .retrieve()
                .body(String.class));
    }

    private JsonNode readTree(String body, String path) {
        try {
            return objectMapper.readTree(body);
        } catch (JsonProcessingException e) {
            throw new UncheckedIOException("Failed to parse Samsara response from " + path, e);
        }
    }

    private <T> T readValue(String body, Class<T> type, String path) {
        try {
            return objectMapper.readValue(body, type);
        } catch (JsonProcessingException e) {
            throw new UncheckedIOException("Failed to parse Samsara response from " + path, e);
        }
    }

    private String writeValueAsString(JsonNode node) {
        try {
            return objectMapper.writeValueAsString(node);
        } catch (JsonProcessingException e) {
            throw new UncheckedIOException("Failed to re-serialize a Samsara driver JSON node", e);
        }
    }

    private <T> T treeToValue(JsonNode node, Class<T> type) {
        try {
            return objectMapper.treeToValue(node, type);
        } catch (JsonProcessingException e) {
            throw new UncheckedIOException("Failed to parse a Samsara payload as " + type.getSimpleName(), e);
        }
    }

    private <T> T retrying(Supplier<T> call) {
        RetryTemplate retryTemplate = RetryTemplate.builder()
                .maxAttempts(4)
                .fixedBackoff(retryBackoff)
                .retryOn(HttpServerErrorException.class)
                .build();
        return retryTemplate.execute(context -> call.get());
    }
}
